In [1]:
import pandas as pd
from pandas.api.types import CategoricalDtype
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format
import os
from itertools import product
import app_rais.dicts_constants as dc
import app_rais.treat as treat

In [2]:
list_column_keep = dc.interest_columns_for_year(2018)

In [3]:
list_column_keep

array(['Faixa Etária', 'Faixa Remun Dezem (SM)', 'Faixa Remun Média (SM)',
       'IBGE Subsetor', 'Município', 'Nacionalidade', 'Sexo Trabalhador',
       'Tamanho Estabelecimento', 'Tipo Estab', 'Tipo Estab.1',
       'Vl Remun Dezembro (SM)', 'Vl Remun Média (SM)',
       'Vínculo Ativo 31/12', 'CNAE 95 Classe', 'Idade',
       'Natureza Jurídica', 'Vl Remun Dezembro Nom', 'Vl Remun Média Nom',
       'Ind Simples', 'CBO Ocupação 2002', 'CNAE 2.0 Classe',
       'Escolaridade após 2005', 'Raça Cor'], dtype=object)

In [4]:
df = pd.read_table(
    f'app_rais/data/rais_original/2018/RAIS_VINC_PUB_SUL.txt'
    , encoding='Latin-1'
    , sep=';'
    , usecols=list_column_keep
    , dtype=dc.dic_dtype
    , decimal=','
#    , nrows=5
)

In [7]:
dc.dict_uf_cod[uf]

'41'

In [5]:
uf = 'PR'

In [9]:
df[df['Município'].str.startswith(dc.dict_uf_cod[uf])]

,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Escolaridade após 2005,Idade,Ind Simples,...,Raça Cor,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),Sexo Trabalhador,Tamanho Estabelecimento,Tipo Estab,Tipo Estab.1,IBGE Subsetor
0,513205,56112,55212,0,06,00,03,1,45,1,...,04,0.00,0.00,"1,542.77",1.61,01,4,01,CNPJ,21
1,716610,43304,45500,0,05,00,03,1,38,0,...,09,0.00,0.00,"1,893.39",1.98,01,4,01,CNPJ,15
2,715210,41107,70106,0,08,00,04,1,67,0,...,04,0.00,0.00,"2,216.02",2.31,01,5,01,CNPJ,19
3,623105,01521,01422,0,06,00,04,1,43,0,...,02,0.00,0.00,"1,963.14",2.05,01,2,01,CNPJ,25
4,513435,47121,52132,0,03,00,03,1,20,1,...,02,0.00,0.00,"1,462.05",1.53,01,5,01,CNPJ,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470532,239430,58115,22152,1,06,08,07,11,48,0,...,08,"5,500.00",5.76,"5,500.00",5.76,02,7,01,CNPJ,8
4470533,331205,85121,80144,1,05,05,04,11,38,1,...,02,"2,464.83",2.58,"2,515.78",2.63,02,5,01,CNPJ,23
4470534,234810,85317,80314,1,07,NaN,NaN,11,51,0,...,09,0.00,0.00,0.00,0.00,02,7,01,CNPJ,23
4470535,234520,85317,80314,1,05,NaN,04,11,30,0,...,02,0.00,0.00,"1,951.40",2.04,02,7,01,CNPJ,23
4470536,131210,86607,85154,1,05,NaN,06,11,30,0,...,09,0.00,0.00,"4,210.32",4.40,02,9,01,CNPJ,22

In [15]:
uf = 'RS'

In [16]:
df[df['Município'].str.startswith(dc.dict_uf_cod[uf])]

,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Escolaridade após 2005,Idade,Ind Simples,...,Raça Cor,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),Sexo Trabalhador,Tamanho Estabelecimento,Tipo Estab,Tipo Estab.1,IBGE Subsetor
7895678,621005,70204,74160,0,08,00,02,1,67,0,...,02,0.00,0.00,"1,219.52",1.27,01,3,01,CNPJ,19
7895679,717020,47440,52442,0,07,00,02,1,55,1,...,04,0.00,0.00,"1,359.63",1.41,01,3,01,CNPJ,16
7895680,622020,01334,01392,0,06,00,01,1,43,0,...,02,0.00,0.00,963.06,1.00,01,5,01,CNPJ,25
7895681,622020,01334,01392,0,04,00,01,1,28,0,...,04,0.00,0.00,497.50,0.52,01,5,01,CNPJ,25
7895682,717020,41204,45217,0,06,00,02,1,44,0,...,02,0.00,0.00,"1,113.14",1.16,01,4,01,CNPJ,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12065021,234520,85325,80322,1,06,09,08,11,48,0,...,02,"6,804.32",7.13,"7,537.46",7.89,02,7,01,CNPJ,23
12065022,234415,85325,80322,1,05,NaN,07,11,31,0,...,02,0.00,0.00,"5,721.54",5.99,02,7,01,CNPJ,23
12065023,234520,85325,80322,1,05,04,02,11,31,0,...,02,"1,791.72",1.87,"1,352.03",1.41,02,7,01,CNPJ,23
12065024,234520,85325,80322,1,07,NaN,NaN,11,58,0,...,02,0.00,0.00,0.00,0.00,02,7,01,CNPJ,23
12065025,223405,47717,52418,1,05,05,04,11,35,1,...,02,"2,773.00",2.90,"2,772.99",2.90,02,2,01,CNPJ,16

In [17]:
uf = 'SC'

In [18]:
df[df['Município'].str.startswith(dc.dict_uf_cod[uf])]

,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Escolaridade após 2005,Idade,Ind Simples,...,Raça Cor,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),Sexo Trabalhador,Tamanho Estabelecimento,Tipo Estab,Tipo Estab.1,IBGE Subsetor
4470537,631210,03116,05118,0,07,00,04,1,60,0,...,09,"2,032.20",2.13,"2,107.51",2.20,01,7,01,CNPJ,25
4470538,631210,03116,05118,0,07,00,04,1,60,0,...,09,0.00,0.00,"2,048.41",2.14,01,7,01,CNPJ,25
4470539,631210,03116,05118,0,07,00,04,1,52,0,...,09,"2,032.20",2.13,"2,049.60",2.14,01,7,01,CNPJ,25
4470540,631210,03116,05118,0,07,00,04,1,52,0,...,09,0.00,0.00,"1,940.30",2.02,01,7,01,CNPJ,25
4470541,631210,03116,05118,0,05,00,04,1,33,0,...,09,0.00,0.00,"1,953.10",2.04,01,7,01,CNPJ,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7895673,261125,58123,22152,1,05,06,05,11,32,1,...,09,"3,613.26",3.78,"3,163.78",3.31,02,4,01,CNPJ,8
7895674,142405,82911,74993,1,05,06,04,11,31,1,...,09,"2,874.34",3.01,"2,546.97",2.66,02,6,01,CNPJ,19
7895675,411010,13219,17310,1,05,04,02,11,36,1,...,02,"1,524.19",1.59,"1,390.97",1.45,02,4,01,CNPJ,11
7895676,352205,94308,91995,1,05,06,05,11,30,0,...,02,"3,498.05",3.66,"3,043.78",3.18,02,4,01,CNPJ,21
7895677,234624,85139,80152,1,05,07,06,11,33,0,...,09,"4,239.38",4.44,"4,248.78",4.45,02,6,01,CNPJ,23

In [20]:
df

,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Escolaridade após 2005,Idade,Ind Simples,...,Raça Cor,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),Sexo Trabalhador,Tamanho Estabelecimento,Tipo Estab,Tipo Estab.1,IBGE Subsetor
0,513205,56112,55212,0,06,00,03,1,45,1,...,04,0.00,0.00,"1,542.77",1.61,01,4,01,CNPJ,21
1,716610,43304,45500,0,05,00,03,1,38,0,...,09,0.00,0.00,"1,893.39",1.98,01,4,01,CNPJ,15
2,715210,41107,70106,0,08,00,04,1,67,0,...,04,0.00,0.00,"2,216.02",2.31,01,5,01,CNPJ,19
3,623105,01521,01422,0,06,00,04,1,43,0,...,02,0.00,0.00,"1,963.14",2.05,01,2,01,CNPJ,25
4,513435,47121,52132,0,03,00,03,1,20,1,...,02,0.00,0.00,"1,462.05",1.53,01,5,01,CNPJ,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12065021,234520,85325,80322,1,06,09,08,11,48,0,...,02,"6,804.32",7.13,"7,537.46",7.89,02,7,01,CNPJ,23
12065022,234415,85325,80322,1,05,NaN,07,11,31,0,...,02,0.00,0.00,"5,721.54",5.99,02,7,01,CNPJ,23
12065023,234520,85325,80322,1,05,04,02,11,31,0,...,02,"1,791.72",1.87,"1,352.03",1.41,02,7,01,CNPJ,23
12065024,234520,85325,80322,1,07,NaN,NaN,11,58,0,...,02,0.00,0.00,0.00,0.00,02,7,01,CNPJ,23
12065025,223405,47717,52418,1,05,05,04,11,35,1,...,02,"2,773.00",2.90,"2,772.99",2.90,02,2,01,CNPJ,16

In [19]:
4470537 + 4169348 + 3425141

12065026

In [22]:
year = 2018
treating = False
list_ufs=['PR', 'RS', 'PE', 'DF', 'ES', 'GO','MG','PA','PE','PR','RJ','RS','SC','SP']

In [25]:
for uf in list_ufs:
    if 1 != 1:
        pass
    else:        
        if uf.upper() in ['RR', 'AP', 'AM', 'PA', 'TO', 'AC', 'RO']:
            file = 'RAIS_VINC_PUB_NORTE'
            print(f'{uf} is in {file}')
        elif uf.upper() in ['MT', 'MS', 'GO', 'DF']:
            file = 'RAIS_VINC_PUB_CENTRO_OESTE'
            print(f'{uf} is in {file}')

        elif uf.upper() in ['MG', 'RJ', 'ES']:
            file = 'RAIS_VINC_PUB_MG_ES_RJ'
            print(f'{uf} is in {file}')

        elif uf.upper() in ['PR', 'SC', 'RS']:
            file = 'RAIS_VINC_PUB_SUL'
            print(f'{uf} is in {file}')            
            
        elif uf.upper() in ['MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'SE', 'BA']:
            file = 'RAIS_VINC_PUB_NORDESTE'
            print(f'{uf} is in {file}')
            
        elif uf.upper() == 'SP':
            file = 'RAIS_VINC_PUB_SP'
            print(f'{uf} is in {file}')

PR is in RAIS_VINC_PUB_SUL
RS is in RAIS_VINC_PUB_SUL
PE is in RAIS_VINC_PUB_NORDESTE
DF is in RAIS_VINC_PUB_CENTRO_OESTE
ES is in RAIS_VINC_PUB_MG_ES_RJ
GO is in RAIS_VINC_PUB_CENTRO_OESTE
MG is in RAIS_VINC_PUB_MG_ES_RJ
PA is in RAIS_VINC_PUB_NORTE
PE is in RAIS_VINC_PUB_NORDESTE
PR is in RAIS_VINC_PUB_SUL
RJ is in RAIS_VINC_PUB_MG_ES_RJ
RS is in RAIS_VINC_PUB_SUL
SC is in RAIS_VINC_PUB_SUL
SP is in RAIS_VINC_PUB_SP

In [33]:
%%time

def pretreat_2018(list_ufs, year=2018):

    for uf in list_ufs:
        if os.path.isfile(f'app_rais/data/rais_original/2018/{uf.upper()}{year}.txt'):
            pass
        else:        
            if uf.upper() in ['RR', 'AP', 'AM', 'PR', 'TO', 'AC', 'RO']:
                file = 'RAIS_VINC_PUB_NORTE'
            elif uf.upper() in ['MT', 'MS', 'GO', 'DF']:
                file = 'RAIS_VINC_PUB_CENTRO_OESTE'
            elif uf.upper() in ['MG', 'RJ', 'ES']:
                file = 'RAIS_VINC_PUB_MG_ES_RJ'
            elif uf.upper() in ['PR', 'SC', 'RS']:
                file = 'RAIS_VINC_PUB_SUL'
            elif uf.upper() in ['MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'SE', 'BA']:
                file = 'RAIS_VINC_PUB_NORDESTE'
            elif uf.upper() == 'SP':
                file = 'RAIS_VINC_PUB_SP'

            df = pd.read_table(
        #        os.path.join(modulepath, f'data/rais_original/{year}/{file}.txt')
                f'app_rais/data/rais_original/{year}/{file}.txt'
                , encoding='Latin-1'
                , sep=';'
                , decimal=','
                , dtype=dc.dic_dtype
                )
            df = df[df['Município'].str.startswith(dc.dict_uf_cod[uf])]

            df.to_csv(
                f'app_rais/data/rais_original/{year}/{uf}{year}.txt'
                , encoding='Latin-1'
                , sep=';'
                , decimal=','
            )

Wall time: 5min 12s

In [31]:
df.to_csv(
    f'app_rais/data/rais_original/{year}/{uf}{year}.txt'
    , encoding='Latin-1'
    , sep=';'
    , decimal=','
)

In [27]:
1346091 + 993982 + 2233801 + 1563592

6137466

In [ ]:
def pretreat_rais(uf='PR', year=2007, treating=True):
    '''
    Loads Rais data into Pandas DataFrame regarding the year and Brazilian
    federation unity (UF) selected. If treating is set to True (default), 
    loads a predefined set of columns, overrides the automatically 
    inputed data types with others selected to enhance performance, 
    besides deleting registers of non active jobs in 12/31 of the selected year.
    
    '''

    year = int(year)

    list_column_keep = dc.interest_columns_for_year(year)


    if uf==None or year==None:
        print('Please set both uf and year.')
    
    else:    
    
        if treating == False:
            df = pd.read_table(
                os.path.join(modulepath, f'data/rais_original/{year}/{uf.upper()}{year}.txt')
                , encoding='Latin-1'
                , sep=';'
                , decimal=','
                )

        else:            
            

            df = pd.read_table(
                os.path.join(modulepath, f'data//rais_original//{year}//{uf.upper()}{year}.txt')
                , encoding='Latin-1'
                , sep=';'
                , usecols=list_column_keep
                , dtype=dc.dic_dtype
                , decimal=','
            )

            df = df.loc[df['Vínculo Ativo 31/12'] == 1]
            
            column_drop_2010 = ['Vínculo Ativo 31/12']
            df.drop(axis=1, labels=column_drop_2010, inplace=True)
            df.reset_index(inplace=True)
            df.drop(labels='index', axis=1, inplace=True)
            

            # Including some columns of interest related to territorial structure of Brazilian metropolises
            # Talvez eu deva fazer para a estrutura territorial o mesmo que fiz para as colunas de POTEC Tech Ind e KS adiante           
            df_territory_tese = pd.read_csv(
                os.path.join(modulepath,'../app_territory/data/territorio_tese.csv')
                , sep=';'
                , dtype={'Município':'category', 'territorio_tese': 'category'})
            df = df.merge(
                df_territory_tese
                , on='Município'
                , how='left')

            df_territory_regic = pd.read_csv(
                os.path.join(modulepath,'../app_territory/data/territorio_regic_ap_2018.csv')
                , sep=';'
                , dtype={'Município':'category', 'arranjo': 'category'})
            df = df.merge(
                df_territory_regic
                , on='Município'
                , how='left')
            
            
            if (year < 2006) and (year >=1995):
            
                df['knowledge_services'] = df.loc[:, 'CNAE 95 Classe'].map(dc.get_dict_services_knowledge(int(year))).astype(dc.type_cat_know_services)
                df['technology_industries'] = df.loc[:, 'CNAE 95 Classe'].map(dc.get_dict_industries_tec(int(year))).astype(dc.type_cat_ind_tec)

            elif year >= 2006:  
            
                df['knowledge_services'] = df.loc[:, 'CNAE 2.0 Classe'].str.slice(0,3).map(dc.get_dict_services_knowledge(int(year))).astype(dc.type_cat_know_services)
                df['technology_industries'] = df.loc[:, 'CNAE 2.0 Classe'].str.slice(0,3).map(dc.get_dict_industries_tec(int(year))).astype(dc.type_cat_ind_tec)
            

            if (year >= 1995) and (year < 2003):
                df['potec'] = df.loc[:, 'CBO 94 Ocupação'].map(dc.get_dict_potec(int(year))).fillna('Demais Ocupações').astype(dc.type_cat_potec)
            
            elif (year >=2003) and (year < 2018):
                df['potec'] = df.loc[:, 'CBO Ocupação 2002'].map(dc.get_dict_potec(int(year))).fillna('Demais Ocupações').astype(dc.type_cat_potec)
            elif year >=2018:
                df['potec'] = df.loc[:, 'CBO 2002'].map(dc.get_dict_potec(int(year))).fillna('Demais Ocupações').astype(dc.type_cat_potec)
                
    return df