In [1]:
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 200
import plotly.express as px
import app_rais.dicts_constants as dc
import app_rais.analytics_industries as ind
import json
import geopandas as gpd
import bamboolib as bam
import streamlit as st;

In [2]:
st.title('Teste de WebApp para Acompanhar Artigo')

df_teste = pd.DataFrame(data={'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})

st.write(df_teste)


fig, df = ind.ind_tech_level_evolution_dynamic(
    list_years=list(range(2000,2019))
    , list_ufs=['PR']
    , range_x=220_000
    , list_tec_level=None  
    , relative=False
    , focus='Médio-Alto'     
#    , exclude_territory_starts_with='Demais'
    , list_include_territory=None
    , height=550
)

st.plotly_chart(fig)

In [3]:
fig2, df = ind.ind_tech_level_evolution_dynamic(
    list_years=list(range(2000,2019))
    , list_ufs=['PR']
    , range_x=220_000
    , list_tec_level=None  
    , relative=True
#    , focus='Médio-Alto'     
#    , exclude_territory_starts_with='Demais'
    , list_include_territory=None
    , height=550
)

st.plotly_chart(fig2)

In [5]:
df_ind = pd.read_pickle('df_inds_rms.pkl')

In [6]:
df_ind

,Território,Nível Tecnológico,PO,PO estadual,Participação Metropolitana (%),Participação Estadual (%)
0,RM de Apucarana,High-technology,447,13142,2.77,3.40
1,RM de Apucarana,Medium-high-technology,1776,115857,11.01,1.53
2,RM de Apucarana,Medium-low-technology,1500,109630,9.30,1.37
3,RM de Apucarana,Low-technology,12411,370488,76.92,3.35
4,RM de Campo Mourão,High-technology,370,13142,2.33,2.82
5,RM de Campo Mourão,Medium-high-technology,861,115857,5.41,0.74
6,RM de Campo Mourão,Medium-low-technology,1239,109630,7.79,1.13
7,RM de Campo Mourão,Low-technology,13435,370488,84.47,3.63
8,RM de Cascavel,High-technology,132,13142,0.34,1.00
9,RM de Cascavel,Medium-high-technology,5077,115857,13.25,4.38
10,RM de Cascavel,Medium-low-technology,4313,109630,11.26,3.93
11,RM de Cascavel,Low-technology,28782,370488,75.14,7.77
12,RM de Curitiba,High-technology,6071,13142,3.54,46.20
13,RM de Curitiba,Medium-high-technology,64471,115857,37.58,55.65
14,RM de Curitiba,Medium-low-technology,48195,109630,28.09,43.96
15,RM de Curitiba,Low-technology,52822,370488,30.79,14.26
16,RM de Londrina,High-technology,1224,13142,1.81,9.31
17,RM de Londrina,Medium-high-technology,9343,115857,13.79,8.06
18,RM de Londrina,Medium-low-technology,10932,109630,16.13,9.97
19,RM de Londrina,Low-technology,46267,370488,68.27,12.49
20,RM de Maringá,High-technology,757,13142,1.53,5.76
21,RM de Maringá,Medium-high-technology,7588,115857,15.29,6.55
22,RM de Maringá,Medium-low-technology,8637,109630,17.41,7.88
23,RM de Maringá,Low-technology,32630,370488,65.77,8.81
24,RM de Toledo,High-technology,3768,13142,11.25,28.67
25,RM de Toledo,Medium-high-technology,2132,115857,6.36,1.84
26,RM de Toledo,Medium-low-technology,2769,109630,8.26,2.53
27,RM de Toledo,Low-technology,24839,370488,74.13,6.70
28,RM de Umuarama,High-technology,55,13142,0.26,0.42
29,RM de Umuarama,Medium-high-technology,576,115857,2.76,0.50
30,RM de Umuarama,Medium-low-technology,1116,109630,5.34,1.02
31,RM de Umuarama,Low-technology,19137,370488,91.63,5.17

In [9]:
rms = list(df_ind['Território'].unique())

In [4]:
try:
    df_ind = pd.read_pickle('df_inds_rms.pkl')
#    df = get_UN_data()
    rms = st.multiselect(
        "Escolhas RMs", list(df_ind['Território'].unique()), list(df_ind['Território'].unique())
    )
    if not rms :
        st.error("Selecione uma RM.")
    else:
        data = df_ind.loc[df_ind['Território'].isin(rms)]
        
        st.write(data)

SyntaxError: unexpected EOF while parsing (<ipython-input-4-2262f44f11e0>, line 12)

In [15]:
rms = ['RM de Curitiba']

In [16]:
data = df_ind.loc[df_ind['Território'].isin(rms)]

In [17]:
data

,Território,Nível Tecnológico,PO,PO estadual,Participação Metropolitana (%),Participação Estadual (%)
12,RM de Curitiba,High-technology,6071,13142,3.54,46.20
13,RM de Curitiba,Medium-high-technology,64471,115857,37.58,55.65
14,RM de Curitiba,Medium-low-technology,48195,109630,28.09,43.96
15,RM de Curitiba,Low-technology,52822,370488,30.79,14.26